<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
    <div class="container my-3">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article, loop : ${articleList}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.subject}"></a>
                </td>
                <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<a href="/article/create" type="button">Article 등록하기</a>
</div>
</html>